@import './base.css';


a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

.divCabecalho{
  width: 50vw;
  margin-top: 0px;
  text-align: center;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  font-size: 1.5rem;
}

body{
  text-align: center;
  font-size: 1.2rem;  
}

p{
  width: 50vw;
  margin-left: 25%;
  text-align: justify;
  padding: 10px;

}

h1{
  padding: 20px;
  font-size: 1.5rem;
}

header{
  height: 10vh;
}

footer{
  height: 10vh;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25vw;
}

main{
  min-height: 30vh;
  
}

table{
  width: 50%;
  align-items: center;
  margin-left: 25vw;
  min-height: 70vh;
}

.divConhecimento{
  display: inline-flex;
  width: 50vw;
  margin-left: 0vw;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.divConhecimentoCelula{
  height: 10vh;
  width: calc(50vw / 3 - 10px); 
  align-items: center;
  padding-top: 2vh;
}

@media only screen and (max-device-width: 500px) {
  .divCabecalho{
    width: 100vw;
    margin-left: 0;
    font-size: 1rem;
  }

  p{
    width: 100vw;
    margin-left: 0%;
    text-align: justify;
    padding: 10px;
  
  }

  footer{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    padding: 10px;
  }

  h1{
    font-size: 1rem;
  }

  table{
    width: 100vw;
    align-items: center;
    margin-left: 0;
  }

  .divConhecimento{
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  
  .divConhecimentoCelula{
    width: 100vw; 
    align-items: center;
    padding-top: 2vh;
  }

  }